<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- get the CSS stylesheet from static/style.css -->

    <link

      rel="stylesheet"

      type="text/css"

      href="{{ url_for('static', filename='bootstrap.css')}}"

      href="{{ url_for('static', filename='style.css')}}"

    />

    <title>{% block title %}{% endblock %}</title>

</head>



<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">

            <a class="navbar-brand" href="#">

                <img src="{{ url_for('static', filename='images/logo.png')}}" height="45" alt="logo">

            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">

                <span class="navbar-toggler-icon"></span>

            </button>

           

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/media">Media</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/login">{% block navbar_element %}{% endblock %}</a>
                    </li>
                </ul>
            </div>
    </nav>
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    {% endwith %}
    {% block content %}{% endblock %}
    <script>"{{ url_for('static', filename='main.js')}}"</script>
</body>
</html>
