{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block navbar_element %}Logout{% endblock %}
{% block content %}
<h2 align="center">Terms & Conditions</h2>
<div class="container">
    

    By accessing the wireless network, you acknowledge and accept that you are of legal age, or your legal guardians have read and accepted these, you have read and understood and agree to be bound by this agreement.
    
    
    
    We do not guarantee the service of specific rates of speed. We do not have any control over the information obtained through the internet and cannot be held responsible for its content or accuracy. Using our service is at the user’s own risk. We reserve the right to remove, block, filter, or restrict by any other means any material that, in our sole discretion, may be illegal, may subject us to liability, or may violate this policy. We may cooperate with legal authorities and/or third parties in an investigation of any suspected or alleged crime or civil wrong. Your access to this service may be blocked, suspended or terminated at any time for any reason.
    
    Violations of this policy may result in the termination or suspension of access to the service or other resources.
    
    
    
    We are not liable for any damage, undesired resource usage, or detrimental effects that may occur to a user’s device and/or software while the user’s device is attached to the service. The user is responsible for any actions taken from their device, whether intentional or unintentional, that damage or otherwise affect other devices or users of the service. The user hereby releases the company from liability for any loss, damage, security infringement, or injury which the user may sustain as a result of being allowed access to the service. The user agrees to be solely responsible for any such loss, infringement, damage, or injury.
    
    
    
    By clicking the box ‘I accept the Terms & Conditions’, the user agrees to comply with and to be legally bound by the terms of this policy. If this policy or any terms of the service are unacceptable or become unacceptable to the user, the user’s only right shall be to terminate their use of the service.
    We reserve the right to change the service offered, the features of the service offered, the terms of this policy, or its system without notice to the user.
    
    
    
    By clicking the box ‘I accept the Terms & Conditions’ at the bottom of the login page, you acknowledge that you understand and agree to this policy.<br>
    
    
    
    <center><img src="{{ url_for('static', filename='images/CorendonTermsIcon.png')}}" height="300" alt="logo"></center>
</div>
{% endblock %}

